body
{
	background-color: #d5dfed;
	font-size: 100px;
}

td
{
	text-align: center;
	font-size: 30px;
}

h2
{
	text-align: center;
	font-size: 30px;
}

table
{
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
}

input
{
	width: 100%;
}