<html>
	<head>
		<title>Metro Cash & Carry - Departments</title>
		<link rel="stylesheet" href="/static/customize.css">
	</head>
	<body>
		<h2>Metro Cash & Carry</h2>
		<hr>
		<h3>Departments</h3>
		<table>
			<tr>
				<td>
					<button></button>
				</td>
				<td>
					<button></button>
				</td>
			</tr>
			<tr>
				<td>
					<button></button>
				</td>
				<td>
					<input type="image" src="https://xq34env1.github.io/images-supermarket/frozen-food-dep.jpg"/>
				</td>
			</tr>
		</table>
	</body>
</html>