<html>
	<head>
		<title>Login - Metro Cash & Carry</title>
		<link rel="stylesheet" href="/static/customize.css">
	</head>
	<body>
		<h2>Metro Cash & Carry</h2>
		<hr>
		<form action="/login" method="GET" class="form-username">
			<table>
				<tr>
					<td>
						<b><label>Username</label></b>
					</td>
					<td>
						<input name = "username-user"></input>
					</td>
				</tr>
				<tr>
					<td>
						<b><label>Password</label></b>
					</td>
					<td>
						<input name = "password-user"></input>
					</td>
				</tr>
				<tr>
					<td>
						<p></p>
					</td>
					<td>
						<button type="submit" id="button_submit">SUBMIT</button>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>