<html>
	<head>
		<title>Login - Metro Cash & Carry</title>
		<link rel="stylesheet" href="/static/customize.css">
	</head>
	<body>
		<h2>Metro Cash & Carry</h2>
		<form action="/login" method="GET" class="form-username">
			<div class="form-username">
				<b><label>Enter Your Username</label></b>
				<input name = "username-user"></input>
				<br>
			</div>
			<div class="form-username">
				<b><label>Enter Your Password</label></b>
				<input name = "password-user"></input>
				<br>
				<button type="submit">SUBMIT</button>
			</div>
		</form>
	</body>
</html>